<p>records works!</p>


<a routerLink='/home'>Geri</a>
<ul class="list-group">
    <li class="list-group-item pointer" *ngFor="let post of showList" [innerText]="post?.title" routerLink='/record/detail/{{post?.id}}' ></li>
</ul>

<div class="row">
    <nav aria-label="Page navigation example" style="margin: 20px auto 0 auto;">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link pointer" (click)="previous()">Previous</a>
            </li>
            <li class="page-item" *ngFor="let i of pages">
                <a class="page-link pointer" (click)="go(i)" [innerText]="i"></a>
            </li>
            <li class="page-item">
                <a class="page-link pointer" (click)="next()">Next</a>
            </li>
        </ul>
    </nav>
</div>